  	html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;   
    font-family:'Modern No. 20','Comic Sans MS',monospace;


}
  	body{
  	width:100%;
  	height:100%;
  	margin:0;
  	padding:0;
	background-color:blue;
    overflow:hidden;
}

header, footer, nav, section {
    display: block;
}

/* Site Specific*/
#backgroundImage{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-position-x:center;
    background-image:url('WaterBackground.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    opacity:.8;
	/*background-image: url("PDXBackground1.jpg");	
	background-position:center top;
	background-repeat:no-repeat;*/
	}
/*.imgBackground
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;

}*/

    .bgFade
    {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        padding:0px;
        margin:0px;
        background-image:url('WaterBackgroundInvert.png');
        background-repeat:no-repeat;
        background-size:100% 100%;
        display:block;
    }
#content
{

    position:absolute;
    top:100px;
    left:250px;
    z-index:100;
    margin:0px;
    height:500px;
    width:500px;
    border-color:black;
    border-width:5px;
    border-bottom-style:solid;

    
}

#header
{
    position:absolute;
    top:0px;
    left:0px;
    padding:0px;
    margin:0px;
    width:67%;
    height:90px;
    background-image:url('BoatHeaderBRC.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    display:block;
    z-index:150;
}

#sideNav
{
    position:fixed;
    top:100px;
    left:0;
    width:249px;
    height:100%;
    margin-bottom:0;
    overflow-x:hidden;
    z-index:100;
}
#nav
{
   list-style-type: none;
    padding: 0;
    margin-left: 20px;
    font-weight: bold;      
    overflow:hidden;
    display:block;
    
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
